<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Doc-Scanner-X.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6811262A1F4C1AA40071CF38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>681126411F4C1AA40071CF38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6811264C1F4C1AA50071CF38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
